/* Sample Override
-------------------------------------------------- */

/*Off Position For Baseline Starter Demo*/


.sample-off {
	display: block;	
}

.sample-on {
	display: none;	
}

footer {
	background-color:#eee;	
}



