body {
	background-color: #00b2a2;
}

#menu {
	width:100%;
	font-size: 19px;
	font-weight: bold;
	text-align: center;
	border-radius: 8px solid transparent;
	font-family: Tahoma, Geneva, sans-serif;
}

#menu ul {
	height: auto;
	padding: 8px;
	margin: 0px;
	overflow: hidden;
}

#menu li {
	display: inline;
	padding: 25px;
}

#menu a:hover {
	color: #f90;
	background-color: #fff;
	text-decoration: none;
    text-transform: uppercase;
}

a {
	text-decoration: none;
}

#theTable {
	position: relative;
	width: 90%;
	left: 5%;
	top: 20px;
	border: 2px solid blue;
	text-align: center;
}

thead {
	vertical-align: middle;
	font-weight: bold;
	font-size: 19px;
}


#footer {
	position: relative;
	top:40px;
    vertical-align: bottom;
    text-align: center;
}
