h1{
	font-size: 1.1em;
}

h3{
	font-size: 0.87em;	
	text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6{
	font-family:InterfaceB,Arial,Helvetica,San-Serif;
	font-weight: 400;
	margin-top: 0px;
}

.filter{

	width: 22.9452%;
	float: left;
	margin-top: 10px;
	border-style: solid;
	border-color: #DADEE2;
	border-width: 1px;
}

 .filter-results{
	background: #0051A0 none repeat scroll 0% 0%;
	color: #FFF;
	height: 50px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px; 
	display: table;
	padding-top: 10px;
}

.filter-options{
	display: block;
	height: auto;
	display: block;
}

label.disabled{
	color: #BBB7B7;
}

input.disabled{
	visibility: hidden;
}

fieldset{
	min-width: inherit;
	border: 0px none;
	margin-bottom: 2px;
	padding: 5px;
}



hgroup, .resetFilter{
	font-size: 0.87em;
	background: #F5F5F5 none repeat scroll 0% 0%;
	margin: 0px;
	padding: 10px 1em;
	height: 15px;
}



a{
	color: #20A2FF;
	text-decoration: none;
}

