<div>
    <div data-dojo-attach-point="toolbar" data-dojo-type="epi-cms/contentediting/StandardToolbar" class="epi-viewHeaderContainer epi-localToolbar"></div>
    <div data-dojo-attach-point="notificationBar" data-dojo-type="epi-cms/contentediting/NotificationBar" data-dojo-props="region:'top'"></div>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="contentPane" class="epi-linkEdit">
        <div data-dojo-type="epi-ecf-ui/contentediting/editors/CategoryCollectionEditor" data-dojo-attach-point="categoryList"></div>
        <div data-dojo-attach-point="associationListNode"></div>
    </div>
</div>