<div>
    <div data-dojo-attach-point="toolbar" data-dojo-type="epi-cms/contentediting/StandardToolbar" class="epi-viewHeaderContainer epi-localToolbar"></div>
    <div data-dojo-attach-point="notificationBar" data-dojo-type="epi-cms/contentediting/NotificationBar" data-dojo-props="region:'top'"></div>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="contentPane" class="epi-packageEdit">
        <div data-dojo-attach-point="collectionList" data-dojo-type="epi-ecf-ui/contentediting/editors/PackageEntryCollectionEditor"></div>
    </div>
</div>