@model IEnumerable<WebApplication2.Models.Customer>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <h2>@item.CustomerName</h2> 
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Abc</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
