
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>
</head>
<body>
    <div> 
        <p>The data: @ViewBag.MyData</p>
       
    </div>
</body>
</html>
