.bx-wrapper{
	border: none;
}
.bx-wrapper img {
    max-height: 700px;
    width: 100%;
}
body {
	background: black;
}
.bottomcontainer{
	color:white;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 0.875em;
}
