@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model CMSSite.Models.Catalog.NikeShoeVariant


<div>
    @Html.PropertyFor(m => m.MainContent)
</div>

<div>
    @Html.PropertyFor(m => m.Color)
</div>

<div>
    @Html.PropertyFor(m => m.Size)
</div>

<div>
    @Html.PropertyFor(m => m.Price)
</div>