@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>form</title>
</head>
<body>
    <div>
        <input type="hidden" name="TrackingID">
        <input type="text" name="FirstName" id="firstnametext" />
        <input type="checkbox" name="IsLegal" value="Do you accept terms and conditions?" />
    </div>
</body>
</html>
