#footernote{
	position: absolute;
	right: 0px;
}
#bottombox{
	position: relative;
	color: #C0C0C0 ;
}
footer{
	padding-bottom: 20px;
	color:white;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 0.875em;
	background: black;
}
footer a:link {
	color: #C0C0C0;
}
footer a:hover {
	color: white;
	text-decoration: none;
}
footer a:visited{
	color: #C0C0C0;
};
footer a:active{
	color: white;
	text-decoration: none;
};