#topNavbarButtons6{
	margin-top: 0px;
}
.small-top-text a{
	text-decoration: underline;
	color:black;
	font-size: 12px;
}
.small-top-text {
	padding-top: 10px;
}
.page-title,.number-of-items{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
.number-of-items{
	font-size: 15px;
	color: #888888 ;
}
.nike-theme-name{
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color: #FF6600;
	padding:25px;
}
.nike-message{
	height: 80px;
	width: 640px;
	background-color: #E0E0E0 ;
}
.summary-column{
	width: 300px;
	margin-left: 20px;
	margin-right: 20px;
	display:inline-block;
}
#summary-content{
	letter-spacing: 0.025em;
	font-size: 14px;
	color: 14px;
	color: #EFEFEF;
	background-color: black;
}