.navbar {
  position: relative;
  margin-bottom: 0px;
}

.navbar-default {
  background-color: #000000;
  border: 0;
}

#topNavbar {
  min-height: 10px;
  max-height: 30px;
}

#topNavbarButtons1 {
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
}

#topNavbarButtons2 {
  font-size: 15px;
  font-weight: bold;
}

#topNavbarButtons3 {
  font-size: 15px;
  font-weight: bold;
}

#topNavbarButtons4 {
  font-size: 15px;
  font-weight: bold;
}

#topNavbarButtons5 {
  font-size: 15px;
  font-weight: bold;
}

#topNavbarButtons6 {
  font-size: 15px;
  font-weight: bold;
}

#topNavbarButtons7 {
  font-size: 15px;
  font-weight: bold;
}

#topNavbarButtons8 {
  font-size: 15px;
  font-weight: bold;
}










@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }

  .navbar-right {
    float: right!important;
    margin-right: 0px;
  }
}