.navbar {
  position: relative;
  margin-bottom: 0px;
  min-height: 1px;
}

#topNavbarButtons6 {
  background-image: url("../img/emailSignUp.png");
  margin-top: 6px;
  height: 29px;
  width: 111px;
}

#topNavbarButtons6:hover {
  background-image: url("../img/emailSignUpOrange.png");
  background-position: 1px 1px;
}

#topNavbarButtons3 {
  background-image: url("../img/image.png");
  background-repeat: no-repeat;  
  margin-top: 7px;
  max-width: 50px;
  height: 26px;
}

#topNavbarButtons3:hover{
  background-image: url("../img/imageOrange.png");
  margin-top: 5px;
}

#topNavbarButtons4 {
  background-image: url("../img/hurley.png");
  background-repeat: no-repeat;
  min-width: 50px;
  margin-top: 9px;
  margin-left: 3px;
}

#topNavbarButtons4:hover {
  background-image: url("../img/hurleyOrange.png");
  background-position: -1px -1px;
}

.navbar-default {
  background-color: #000000;
  border: 0;
  height: 30px; 
}

.navbar-default .navbar-brand {
  color: #FFF;
  height: auto;
  padding: 8px 12px;
}

#topNavbarButtons1 {
  color: #ff9900;
}

.navbar-default .navbar-brand:hover {
  color: #ff9900;
}

.navbar-header {
  height: 30px; 
}

#topNavbarButtons1 {
  font-size: 15px;
  font-weight: bold;
}

#topNavbarButtons2 {
  font-size: 15px;
  font-weight: bold;
}

#topNavbarButtons5 {
  font-size: 15px;
  font-weight: bold;
}

#topNavbarButtons6 {
  font-size: 15px;
  font-weight: bold;
}

#topNavbarButtons7 {
  font-size: 15px;
  font-weight: bold;
}

#topNavbarButtons8 {
  font-size: 15px;
  font-weight: bold;
}

.dropdown-menu {
  background-color: #424141;
  right: 0;
  left: auto;
  width: 220px;  
}

.dropdown-menu:hover {
  background-color: #424141;
  right: 0;
  left: auto;
  width: 220px;  
}

.dropdown-menu::before, 
.dropdown-menu::after {
    border: none;
    content: none;
}

pre {
  background-color: #424141;
  color: #FFF;
  border: 0;
  padding: 0;
}

pre:hover {
  color: #ff9900;
}



@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }

  .navbar-right {
    float: right!important;
    margin-right: 0px;
  }
}


.tdOptions {
	background-color: #414141;
}

.sameBackground {
  background-color: #414141;
}


.tdOptions:hover {
  background-color: #414141;
}

.sameBackground:hover {
  background-color: #414141;
}







.bigOne{
  height: 50px;
  clear: both;
  background-color: #fff;  
}

#bs-example-navbar-collapse-1 {  
  height: 50px !important;  
}

.nav .navbar-nav .navbar-right {
  float: right !important;
  padding-right: 0;
}

.navbar-form .navbar-left #navSearch {
  clear: both;
  width: 500px;
}

.navbar-form .form-control {
    display: inline-block;
    width: 301px;
    vertical-align: middle;    
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #fff;  
  color: #ff9900; 
}

#nikeLogo {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat; 
  height: 71px;
  width: 70px;
  vertical-align: middle; 
}

#nikeLogo:hover {
  background-image: url("../img/logoOrange.png");
  background-repeat: no-repeat; 
  height: 71px;
  width: 70px;
  vertical-align: middle;
}

.navbar-default .navbar-nav > li > a {
  font-weight: bold;
}

.navbar-form {
    width: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 0px;
    margin-left: 385px;
    border: 0px none;
    box-shadow: none;
}