@import url(http://fonts.googleapis.com/css?family=Montserrat);

.page{
    background-color: #3a2d79;
    color: white;
    width: 1000px;
    height: 650px;
    font-family: Montserrat;
}

.element1 {
    float: left;
    margin: 25px;
    padding: 15px;
    width: 250px;
    height: auto;
}

.element3{
    float: left;
    margin: 20px;
    padding: 15px;
    width: 250px;
    height: 200px;
}

.element2{
    float: left;
    margin: 20px;
    padding: 15px;
    width: 250px;
    height: 200px;
    border-style:solid;
    border-width: 1px;
    
    border-color: #ffffff;
    background-color: #6cd271;
    opacity: 0.75;
    position: relative;
    border-radius: 25px;
    box-shadow: 0 0 0 4px #fff, 0 0 0 12px #6cd271;
    opacity: 0.75;
 
}

.imgTop {
    float:left;
    width: 10%;
    height: auto;
    position: absolute;
    top:0;
    left: 0;
}
    
.imgBottom {
    right:5px;
    bottom:5px;
    width: 10%;
    height: auto;
    position: absolute;
    bottom:10px;
          }

.text1{
    text-align: center;
      }