@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
       @using (Html.BeginForm("InputFormController", "Input")) {

        <input name="Save" type="submit" value="Save" />
        }   
    </div>
</body>
</html>
