@{
    ViewBag.Title = "Home Page";
}

<!-- slidebox
        http://bxslider.com/examples/easing
      -->
<div class="slider">
    <ul class="bxslider sliderimg">
        <li><img src="images/homepage/federer.jpg" /></li>
        <li><img src="images/homepage/team.jpg" /></li>
        <li><img src="images/homepage/bballer.jpeg" /></li>
        <li><img src="images/homepage/nike-Ink.jpg" /></li>
    </ul>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/slider")
}
