.footer{
	position: relative;
	background-color: #525252;
	height: 50px;
	width: 100%;
	color: white;
	clear: both;
}

.footer-container{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 960px;
	height: 20px;
	margin: auto auto;
}

.footer-container p{
	float:right;
	height: auto;
	margin:auto 0;
}

.footer-container ul{
	height: auto;
	margin:auto 0;
	float:left;
	list-style-type: none;
}

.footer-container > ul > li{
	display:inline-block;
	margin-left: 10px;
}