<?xml version="1.0" encoding="utf-8"?>
<module productName="CommerceUI" loadFromBin="false" clientResourceRelativePath="2.0.721">
  <assemblies>
    <add assembly="EPiServer.Commerce.AddOns.UI" />
  </assemblies>
  <routes>
    <route controllerPrefix="EPi" url="Commerce/{controller}/{action}">
      <defaults>
        <add key="moduleArea" value="EPiServer.Commerce.AddOns.UI" />
        <add key="controller" value="" />
        <add key="action" value="Index" />
        <add key="id" value="" />
      </defaults>
    </route>
    <route url="{moduleArea}/{controller}/{action}/">
    </route>
  </routes>
  <clientResources>
    <add name="commerce.ui" path="ClientResources/epi-ecf-ui/epiCommerce.css" resourceType="Style" />
    <add name="commerce.ui" path="ClientResources/epi-ecf-ui/widgets.js" resourceType="Script" />
  </clientResources>
  <dojo>
    <packages>
      <add name="epi-ecf-ui" location="ClientResources/epi-ecf-ui" />
    </packages>
  </dojo>
  <clientModule initializer="epi-ecf-ui.CommerceUIModule">
    <moduleDependencies>
      <add dependency="Commerce" />
    </moduleDependencies>
    <requiredResources>
      <add name="commerce.ui" />
    </requiredResources>
  </clientModule>
</module>