@{
    ViewBag.Title = "PressButton";
}

<h2>PressButton</h2>
<form method="post" id="Form">
    <label>Primul numar</label>
    <input type="text" id="input1"/>
    <label>Al doilea numar</label>
    <input type="text" id="input2" />
    <label>Suma este:</label>
    <label> </label>
    <button>Calculeaza suma</button>

</form>
