@import url(http://fonts.googleapis.com/css?family=Montserrat);

.maincontent {
    background-color: white;
    color:black;
    padding:20px;
    width: 100%;
    height: 650px;
}

.pdp-thumb-wrapper {
    background-color: red;
    display: inline-block;
    width: 100px;
    height: 620px;
    margin-left:30%;
}

.pdp-image-showcase {
     background-color: yellow;
     display: inline-block;
     cursor: auto;
     vertical-align: top;
     width: 600px; 
     height: 620px; 
     position: relative;
     
}

.pdp-info {
     background-color: blue;
     display: inline-block;
     cursor: auto;
     width: 300px; 
     height: 620px; 
}  

.classimg {
    margin:0 auto;
    width: 60px;
    height: 60px; 
    display:block;
}

.class1{
    background-color: green;
    float :left;
    vertical-align:top;
    cursor: auto;
    width: 300px; 
    height: 206px; 
    
    
       }
.class2{
    background-color: darkmagenta;
    float: left;
   vertical-align:top;
     cursor: auto;
     width: 300px; 
     height: 206px; 
    
}
.class3{
    background-color: pink;
    float: left;
     vertical-align:top;
     cursor: auto;
     width: 300px; 
     height: 206px; 
    
       }